.content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    height: 100vh;
    overflow-y: auto;

    ul {
        animation: slideDown 1s ease forwards;
        img {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            height: 13rem;
        }
        
    }

    li {
        font-size: 0.8rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        width: 90%;
        font-weight: 600;
    }    
}
.buttons {
    display: flex;
    flex-direction: row;
    animation: slideDown 0.5s ease forwards;
    a {
        margin-top: 1rem;
        margin-right: 1.5rem;
    }
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img {
        min-height: 15rem;
    }
}

@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

