.content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    height: 100vh;
    overflow-y: auto;

    ul {
        img {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            height: 13rem;
        }
    }

    li {
        font-size: 0.8rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        width: 60%;
        font-weight: 600;
    }    
}
.buttons {
    display: flex;
    flex-direction: row;
    a {
        margin-top: 1rem;
        margin-right: 0.5rem;
    }
}