:root {
    --white: #EBEBEB;
    --grey-100: #D9D9D9;
    --grey-300: #5A5855;
    --black: #161718;
    --red: #AB2515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--grey-100);
    color: var(--black);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1rem;  /* 1rem === 16px, usado para melhorar acessibilidades */
}

button {
    font-family: "Nunito", sans-serif;
    color: var(--red);
    font-weight: 500;
    font-size: 0.8rem;  /* 1rem === 16px, usado para melhorar acessibilidades */
    border: 1px solid var(--red);
    background: var(--white);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}